@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
    margin:0;
    padding:0;    
}

#logo{
    justify-content: center;
    display: flex;    
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.card{
    /* Fazer um degradê no background ou achar uma foto boa */
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000070;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    /* color: */
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#msgErro{
    text-align: center;
    color: #EA5A5A;
    background-color: #de1414;
    padding:10px;
    border-radius:4px;
    display: none;
}

#msgSuccess{
    text-align: center;
    color: #4ae94a;
    background-color: #05c505;
    padding:10px;
    border-radius:4px;
    display: none;
}

footer{
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p{
    margin: 10px 0;
}