<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/logo.svg" />
  <link rel="stylesheet" href="/css/login.css" />

  <title>Login</title>
</head>

<body>
  
  <h1>Mideia</h1>

  <div id="logo">
    <img src="/logo.svg" alt="Logo Mideia" style="width: 80px; height: 80px;">
  </div>

  <div class="container">
    <div class="card">
      <h1>Entrar</h1>

      <div class="label-float">
        <input type="text" id="email" autocomplete="off">
        <label for="email">Email</label>
      </div>

      <div class="label-float">
        <input type="password" id="senha">
        <label for="senha">Senha</label>
      </div>

      <div class="justify-center">
        <button>Entrar</button>
      </div>

      <div class="justify-center">
        <hr>
      </div>

      <p>Não tem uma conta?
        <a href="#">Cadastre-se</a>
      </p>
    </div>
  </div>


  <footer>
    <p>2022 Mideia</p>
  </footer>

  <script src="/Controllers/animacao.js"></script>
  <script src="/Controllers/autenticacao.js"></script>
</body>

</html>