<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/logo.svg" />
  <link rel="stylesheet" href="/css/login.css" />

  <title>Login | Cadastro</title>
</head>

<body>
  <div class="logo">
    <img src="/logo.svg" alt="Logo Mideia" style="width: 80px; height: 80px;">
  </div>
  <h1>Mideia</h1>


  <div class="container" id="container">

    <!-- Form Cadastrar -->
    <div class="form-container sign-up-container">
      <form>
        <div id="msgErro"></div>
        <div id="msgSuccess"></div>        
        <h3>Crie sua conta!</h3>

        <div id="msgErro"></div>
        <div id="msgSuccess"></div>

        <label id="labelNome" class="labelBold" for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" autocomplete="off" placeholder="Guilherme Lima" required>

        <label id="labelEmail" class="labelBold" for="email">E-mail: </label>
        <input type="email" name="email" id="email" autocomplete="off" placeholder="seuemail@email.com" required>

        <label id="labelSenha" class="labelBold" for="senha">Senha: </label>
        <input type="password" name="senha" id="senha" autocomplete="off"
          placeholder="Ao menos 1 letra maiúscula e 1 número" required>

        <label id="labelCpf" class="labelBold" for="cpf">Cpf: </label>
        <input type="text" name="cpf" id="cpf" autocomplete="off" placeholder="000.000.000-00" required>

        <label id="labelTelefone" class="labelBold" for="telefone">Telefone: </label>
        <input type="tel" name="telefone" id="telefone" autocomplete="off" placeholder="55 11 90000-0000" required>

        <!-- Talvez aqui seja um input type submit -->
        <button type="submit" onclick='cadastrarUser()'>Cadastrar</button>
      </form>
    </div>

    <!-- Form Login -->
    <div class="form-container sign-in-container">
      <form>
        <h3>Entrar</h3>

        <label for="E-mail" class="labelBold">E-mail: </label>
        <input type="email" id="userEmail" autocomplete="off" required>

        <label for="Senha" class="labelBold">Senha: </label>
        <input type="password" name="userPass" id="userPass" autocomplete="off" required>

        <button type="submit" onclick="login()">Entrar</button>
      </form>
    </div>


    <div class="overlay-container">
      <div class="overlay">
        <!-- Card Bem Vindo -->
        <div class="overlay-panel overlay-left">
          <p>Bem vindo de volta!</p>
          <p>Se conecte com o mideia, faça login com suas informações pessoais</p>
          <button class="ghost" id="signIn">Entrar</button>
        </div>
        <!-- Card Cadastro -->
        <div class="overlay-panel overlay-right">
          <p>Olá, Amigo(a)!</p>
          <p>Preencha suas informações pessoais, e crie mideias!</p>
          <button class="ghost" id="signUp">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>2022 Mideia</p>
  </footer>

  <script src="/Controllers/animacao.js"></script>
  <script src="/Controllers/autenticacao.js"></script>
</body>

</html>